In [15]:

import pandas as pd
import numpy as np
import os

# # Set the working directory
# os.chdir("1-27-26_exercise/Untitled.ipynb")

# # # Read the .sav file
df1 = pd.read_spss("USA1975withspousehfep.sav")
df2 = pd.read_spss("USA1975withspousehfsum.sav")

# # # Print the dataframe
print(df1,df2)


# # # Write the .csv file
# df.to_csv("file.csv")

                               survey                      wave    hhid  \
0       1975-1976 longitudinal survey   first wave or only wave     1.0
1       1975-1976 longitudinal survey   first wave or only wave     1.0
2       1975-1976 longitudinal survey   first wave or only wave     1.0
3       1975-1976 longitudinal survey   first wave or only wave     1.0
4       1975-1976 longitudinal survey   first wave or only wave     1.0
...                               ...                       ...     ...
158242  1975-1976 longitudinal survey  4th wave / 4th year ATUS  1516.0
158243  1975-1976 longitudinal survey  4th wave / 4th year ATUS  1516.0
158244  1975-1976 longitudinal survey  4th wave / 4th year ATUS  1516.0
158245  1975-1976 longitudinal survey  4th wave / 4th year ATUS  1516.0
158246  1975-1976 longitudinal survey  4th wave / 4th year ATUS  1516.0

           pid                 spouse  couple diaryday  cday      month  \
0          1.0  main respondent diary  couple   Sunday  12.0    October
1          1.0  main respondent diary  couple   Sunday  12.0    October
2          1.0  main respondent diary  couple   Sunday  12.0    October
3          1.0  main respondent diary  couple   Sunday  12.0    October
4          1.0  main respondent diary  couple   Sunday  12.0    October
...        ...                    ...     ...      ...   ...        ...
158242  2885.0           spouse diary  couple   Friday  10.0  September
158243  2885.0           spouse diary  couple   Friday  10.0  September
158244  2885.0           spouse diary  couple   Friday  10.0  September
158245  2885.0           spouse diary  couple   Friday  10.0  September
158246  2885.0           spouse diary  couple   Friday  10.0  September

          year  ...               ownhome  \
0       1975.0  ...  owner or buying home
1       1975.0  ...  owner or buying home
2       1975.0  ...  owner or buying home
3       1975.0  ...  owner or buying home
4       1975.0  ...  owner or buying home
...        ...  ...                   ...
158242  1976.0  ...  owner or buying home
158243  1976.0  ...  owner or buying home
158244  1976.0  ...  owner or buying home
158245  1976.0  ...  owner or buying home
158246  1976.0  ...  owner or buying home

                                                  famstat  \
0          Adult aged 40+ with no coresident children <18
1          Adult aged 40+ with no coresident children <18
2          Adult aged 40+ with no coresident children <18
3          Adult aged 40+ with no coresident children <18
4          Adult aged 40+ with no coresident children <18
...                                                   ...
158242  Adult aged 18 to 39 with no coresident childre...
158243  Adult aged 18 to 39 with no coresident childre...
158244  Adult aged 18 to 39 with no coresident childre...
158245  Adult aged 18 to 39 with no coresident childre...
158246  Adult aged 18 to 39 with no coresident childre...

                       hhtype  nadult  under18 under5  \
0       MARRIED WITHOUT CHILD     2.0      0.0    0.0
1       MARRIED WITHOUT CHILD     2.0      0.0    0.0
2       MARRIED WITHOUT CHILD     2.0      0.0    0.0
3       MARRIED WITHOUT CHILD     2.0      0.0    0.0
4       MARRIED WITHOUT CHILD     2.0      0.0    0.0
...                       ...     ...      ...    ...
158242  MARRIED WITHOUT CHILD     2.0      0.0    0.0
158243  MARRIED WITHOUT CHILD     2.0      0.0    0.0
158244  MARRIED WITHOUT CHILD     2.0      0.0    0.0
158245  MARRIED WITHOUT CHILD     2.0      0.0    0.0
158246  MARRIED WITHOUT CHILD     2.0      0.0    0.0

                         ageyngst nkidflag             incomeqt  \
0       NOT APPLICABLE OR REFUSAL       OK      lowest quartile
1       NOT APPLICABLE OR REFUSAL       OK      lowest quartile
2       NOT APPLICABLE OR REFUSAL       OK      lowest quartile
3       NOT APPLICABLE OR REFUSAL       OK      lowest quartile
4       NOT APPLICABLE OR REFUSAL       OK      lowest quartile
...                           ...      ...                  ...
158242  NOT APPLICABLE OR REFUSAL       OK  2nd lowest quartile
158243  NOT APPLICABLE OR REFUSAL       OK  2nd lowest quartile
158244  NOT APPLICABLE OR REFUSAL       OK  2nd lowest quartile
158245  NOT APPLICABLE OR REFUSAL       OK  2nd lowest quartile
158246  NOT APPLICABLE OR REFUSAL       OK  2nd lowest quartile

               income75
0       $4,000 - $4,999
1       $4,000 - $4,999
2       $4,000 - $4,999
3       $4,000 - $4,999
4       $4,000 - $4,999
...                 ...
158242  $6,000 - $7,499
158243  $6,000 - $7,499
158244  $6,000 - $7,499
158245  $6,000 - $7,499
158246  $6,000 - $7,499

[158247 rows x 65 columns]                            survey                     wave    hhid     pid  \
0     1975-76 longitudinal survey  first wave or only wave     1.0     1.0
1     1975-76 longitudinal survey  first wave or only wave     1.0  2001.0
2     1975-76 longitudinal survey  first wave or only wave     2.0     2.0
3     1975-76 longitudinal survey  first wave or only wave     3.0     3.0
4     1975-76 longitudinal survey  first wave or only wave     4.0     4.0
...                           ...                      ...     ...     ...
7083  1975-76 longitudinal survey                 4th wave  1513.0  2882.0
7084  1975-76 longitudinal survey                 4th wave  1514.0  1514.0
7085  1975-76 longitudinal survey                 4th wave  1514.0  2883.0
7086  1975-76 longitudinal survey                 4th wave  1516.0  1516.0
7087  1975-76 longitudinal survey                 4th wave  1516.0  2885.0

                     spouse      couple diaryday     cday      month    year  \
0     main respondent diary      couple   Sunday     12.0    October  1975.0
1              spouse diary      couple   Sunday     12.0    October  1975.0
2     main respondent diary  individual   Sunday  missing    missing  1975.0
3     main respondent diary  individual   Sunday  missing    missing  1975.0
4     main respondent diary      couple   Sunday     12.0    October  1975.0
...                     ...         ...      ...      ...        ...     ...
7083           spouse diary      couple   Friday     10.0  September  1976.0
7084  main respondent diary      couple   Friday     24.0  September  1976.0
7085           spouse diary      couple   Friday     24.0  September  1976.0
7086  main respondent diary      couple   Friday     10.0  September  1976.0
7087           spouse diary      couple   Friday     10.0  September  1976.0

      ...               ownhome  \
0     ...  owner or buying home
1     ...  owner or buying home
2     ...  owner or buying home
3     ...                  rent
4     ...  owner or buying home
...   ...                   ...
7083  ...  owner or buying home
7084  ...  owner or buying home
7085  ...  owner or buying home
7086  ...  owner or buying home
7087  ...  owner or buying home

                                                famstat  \
0        Adult aged 40+ with no coresident children <18
1        Adult aged 40+ with no coresident children <18
2        Adult aged 40+ with no coresident children <18
3        Adult aged 40+ with no coresident children <18
4     Adult 18+ living with 1+ coresident children 5...
...                                                 ...
7083     Adult aged 40+ with no coresident children <18
7084  Adult aged 18 to 39 with no coresident childre...
7085  Adult aged 18 to 39 with no coresident childre...
7086  Adult aged 18 to 39 with no coresident childre...
7087  Adult aged 18 to 39 with no coresident childre...

                     hhtype  nadult  under18  under5  \
0     MARRIED WITHOUT CHILD     2.0      0.0     0.0
1     MARRIED WITHOUT CHILD     2.0      0.0     0.0
2             SINGLE FEMALE     1.0      0.0     0.0
3             SINGLE FEMALE     1.0      0.0     0.0
4        MARRIED WITH CHILD     2.0      5.0     0.0
...                     ...     ...      ...     ...
7083  MARRIED WITHOUT CHILD     2.0      0.0     0.0
7084  MARRIED WITHOUT CHILD     2.0      0.0     0.0
7085  MARRIED WITHOUT CHILD     2.0      0.0     0.0
7086  MARRIED WITHOUT CHILD     2.0      0.0     0.0
7087  MARRIED WITHOUT CHILD     2.0      0.0     0.0

                       ageyngst  nkidflag              incomeqt  \
0     NOT APPLICABLE OR REFUSAL        OK       lowest quartile
1     NOT APPLICABLE OR REFUSAL        OK       lowest quartile
2     NOT APPLICABLE OR REFUSAL        OK       lowest quartile
3     NOT APPLICABLE OR REFUSAL        OK               missing
4                          10.0        OK      highest quartile
...                         ...       ...                   ...
7083  NOT APPLICABLE OR REFUSAL        OK  2nd highest quartile
7084  NOT APPLICABLE OR REFUSAL        OK   2nd lowest quartile
7085  NOT APPLICABLE OR REFUSAL        OK   2nd lowest quartile
7086  NOT APPLICABLE OR REFUSAL        OK   2nd lowest quartile
7087  NOT APPLICABLE OR REFUSAL        OK   2nd lowest quartile

               income75
0       $4,000 - $4,999
1       $4,000 - $4,999
2       $2,000 - $2,999
3               missing
4      $35,000 and over
...                 ...
7083  $11,000 - $12,499
7084    $7,500 - $8,999
7085    $7,500 - $8,999
7086    $6,000 - $7,499
7087    $6,000 - $7,499

[7088 rows x 162 columns]